*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display:flex;
  font-family:sans-serif;
}
#navbar{
  width:300px;
  position:fixed;
  height:100%;
  border-right:1px solid black;
}
.nav-link{
  display:block;
  padding:10px 20px;
  text-decoration:none;
  color:#4d4e53;
  border-top:1px solid black;
}
#navbar header{
  padding:20px;
  font-size:1.5rem;
  font-weight:bold;
  text-align:center;
}
#main-doc{
  margin-left:300px;
  padding:20px;
  width:100%;
}
@media screen and(max-width:815px){
  body{    flex-direction:column;
  }
#navbar{
  position:static;
  width:100%;
  height:auto;
  border-right:none;
  border-bottom:1px solid black;
}
#main-doc{
  margin-left:0;
}
}