#image{
  max-width: 100%;
height: auto;
 margin:0 auto;
 display:block;
}
#title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#img-caption{
    text-align: center;
}