body{
  background-color:navy;
  color:#f5f6f7;
  margin:auto;
  padding:20px;
  width:100%;
  height:100vh;
  font-size:18px;
  font-family:Tahoma;
}
h1,p{
  text-align:center;
  margin:1em auto;
}
fieldset{
 border:none;
 padding:2rem 0;
 border-bottom:3px solid gray;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.field{
  margin:42px 0;
  
}
fieldset:last-of-type {
  border-bottom: none;
}
.inline {
  width: unset;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  
}
